# Prerequisites
*.d
*.pgd
*.db
*.opendb
.vs/
.vs/**
.txt
bin/
bin/**
*.vcxproj.metaproj
*.metaproj
obj/
obj/**

__temp
__temp/**

ipch/
ipch/**

tools/bin
tools/bin/**
tools/console-controller/vs/___temp_compilation_files/**


build/.vs/
build/.vs/**

build/CompiledResources/
build/CompiledResources/**

build/obj/**
build/.nuget
build/*.log

build/scripts/*.log
build/scripts/log/**

*.users

srvctrl.sln.metaproj.tmp
*.tmp
*.metaproj.tmp
*.sln.metaproj.tmp

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vcxproj.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

tmp*.bat
__*.bat

scripts\tmp*.bat
scripts\__*.bat

scripts/powershell/tools/out/**
scripts/powershell/tools/out

tools/src/res
tools/src/res/**

*.patch

src/client/CTelnet.aps

*.htm

scripts/custombuild.stamp